body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo {
    position: absolute;
    top: 10px; /* Adjust the top distance as needed */
    left: 10px; /* Adjust the left distance as needed */
    z-index: 2;
    display: flex;
    align-items: start;
    background-color: transparent;
    color: #fff;
}

#amorto, #X, #valo {
    width: auto; /* Set the width as needed */
    height: 30px;
    margin-right: 10px; /* Adjust the margin as needed */
}


#box {
    z-index: 2;
    background-color: transparent;
    color: #333;
    width: 70%; /* Set the width as per your requirements */
    max-width: 400px; /* Set the maximum width */
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(5px); /* Apply a blur effect to the box */
}

#login {
    font-size: 24px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-stretch: narrower;
}

input[type="email"],
input[type="password"],
input[type="button"] {
    width: 70%; /* Set the width as per your requirements */
    max-width: 400px; /* Set the maximum width */
    padding: 10px;
    margin: 10px auto; /* Center the input elements horizontally */
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
}
input::placeholder {
    color: #ffffff77; /* Change the color of the placeholder text */
    font-size: 14px; /* Change the font size of the placeholder text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-stretch: narrower;
}

input:active {
    background-color: transparent;
}

#signInBtn {
    background-color: #ffffff11;
    border: 1px solid #fff; /* Solid white border for the button */
    cursor: pointer;
    backdrop-filter: blur(5px); /* Apply a blur effect to the box */
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-stretch: narrower;
}

#signInBtn:hover {
    background-color: #ffffff63;
}
#signInBtn:active {
    background-color: #a0a0a063;
}

img {
    width: 150px;
    height: auto;
    background-color: transparent;
}

#text1,
#text2 {
    font-size: 14px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-stretch: narrower;
}

#signInBtn, #userEmail, #userPass {
    cursor: pointer;
}
